.auth-form {
    display: flex;
    max-width: 380px;
    width: 100%;

    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;

    &__field {
        display: block;
        width: 100%;
        margin: 5px 0;
    }

    &__text-input {
        width: 100%;

        input {
            font-size: 18px;
        }
    }

    &__send {
        align-self: flex-end;
        margin: 30px 0 0 auto !important;
    }
}

.auth-form-error {
    p {
        margin: 0;
        color: rgb(223, 49, 49);
        font-size: 14px;
    }
}